<div id="title-background">
  <h1 id="app-title">Library App</h1>
  <ul id="buttons">
    <li class='button'>
      <%= link_to 'Register', register_path %>
    </li>
    <li class='button'>
      <%= link_to 'Log In', login_path %>
    </li>
  </ul>
</div>