<div id="title-background">
  <h1 id="app-title">Library App</h1>
  <div id="intro">
    <p>This is where you build your own library for others to see, and for you to see what others are recommending for you to try week to week.</p>

    <p>Found a great movie? Let others know!</p>
  </div>
  <ul id="buttons">
    <li class='button'>
      <%= link_to 'Register', register_path %>
    </li>
    <li class='button'>
      <%= link_to 'Log In', login_path %>
    </li>
  </ul>
</div>