<% if @vote.valid? %>
  $("#post_<%= @post.slug %>_votes").html("+<span class='up-votes'><%= @post.up_votes %></span> / <span class='down-votes'>-<%= @post.down_votes %></span>")
<% else %>
  alert("You've already voted on this")
<% end %>