#canvas{
  padding-top: 50px;
  clear: both;
}

#main-content{
  margin: 0 100px;
  color: #333;
}

@media screen and (min-width: 1440px){
  #main-content{
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
  }
}

#feed{
  width: 100%;
}

.row{
  margin-left: 0;
}