#canvas{
  padding-top: 50px;
  clear: both;
}

#main-content{
  padding: 10px;
  margin: 0 auto;
  color: #333;
  text-align: center;
}

@media screen and (min-width: 640px){
  #main-content{
    text-align: left;
  }
}

@media screen and (min-width: 1140px){
  #main-content{
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
  }
}

#feed{
  width: 100%;
}

.row{
  margin-left: 0;
}

.cf:after {
  content: "";
  display: table;
  clear: both;
}