#posts-header{
  display: block;
  margin-bottom: 20px;
}

#new-post{
  display: inline-block;
  margin: 40px 0;
}

.post-section{
  clear: both;
  width: 100%;
  margin: 20px auto;
  text-align: left;
}

.vote-box{
  width: 10%;
  max-width: 50px;
  display: inline-block;
  background-color: #f9f9f9;
  padding: 10px 8px;
  border-radius: 10px;
  border: 2px solid #333;
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 2%;
}

.post,
.comments{
  display: inline-block;
  background-color: #f9f9f9;
  border: 2px solid #333;
  border-radius: 10px;
  float: right;
  padding: 20px;
  width: 60%;
}

.post-title{
  display: inline-block;
}

.post-title a{
  color: #333;
}

.post-title a:hover{
  text-decoration: none;
  color: #ccc;
}

.edit-link,
.destroy-link{
  float: right;
}

.destroy-link{
  margin-left: 10px;
}

.category-icon{
  height: 50px;
  width: 50px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #333;
  margin: -22px 20px 20px -22px;
  display: inline-block;
  text-align: center;
}

.categories{
  display: inline-block;
  vertical-align: top;
}

.categories a{
  text-decoration: none;
  text-align: center;
  color: #f9f9f9;
}

.post-info{
  display: inline-block;
  margin-left: 20px;
  width: 80%;
  font-family: 'Source Sans Pro', sans-serif;
}

.post-info h4{
  font-size: 1.4em;
  font-family: 'Alegreya', serif;
}

#books{
  background-color: #597eaa;
}

#movies{
  background-color: #cf2a27;
}

#shows{
  background-color: #e69138;
}

#games{
  background-color: #6aa84f;
}

#food{
  background-color: #f1c232;
}

#music{
  background-color: #674ea7;
}

.comments{
  margin: 0 0 20px;
}

.user-info{
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
}

.show-post{
  display: inline-block;
  width: 80%;
  background-color: #f9f9f9;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

#leave-comment{
  margin: 20px 0;
}

@media screen and (min-width: 480px){
  .post,
  .comments{
    width: 70%;
  }
}

@media screen and (min-width: 640px){
  #posts-header{
    display: inline-block;
  }

  .new-post{
    float: right;
  }
}

@media screen and (min-width: 680px){
  .post,
  .comments{
    width: 80%;
  }
}

@media screen and (min-width: 1140px){
  .vote-box{
    display: inline-block;
    background-color: #f9f9f9;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #333;
    float: left;
    font-family: 'Source Sans Pro', sans-serif;
    margin-right: 5%;
  }

  .post-section{
    float: right;
  }

  #post-header{
    float: left;
  }

  .posted-info{
    float: right;
  }
}