<h1 id='posts-header'><%= header = link_to("Shared by Others", posts_path) + " &raquo; #{@category.name}".html_safe %></h1>
<% if logged_in? %>
    <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-large new-post' %>
  <% end %>
<br/>

<% render 'shared/content_title', title: header %>

<%= render 'layouts/side_bar' %>

<% @category.posts.each do |post| %>
  <%= render 'posts/post', post: post %>
<% end %>