<div class='tabbable'
  <ul id="side-bar" class='nav nav-pills nav-stacked col-md-3'>
    <li class='category'>
        <%= link_to 'All', posts_path, class: 'category-link' %>
      </li>
    <% Category.all.each do |category| %>
      <li class='category'>
        <%= link_to category.name, category_path(category), class: 'category-link' %>
      </li>
    <% end %>
  </ul>
</div>
  <!-- <li class='category'>
    <i class="fa fa-folder-open fa-3x"></i>
    <br/>
    All
  </li>
  <li class='category'>
    <i class="fa fa-book fa-3x"></i>
    <br/>
    Books
  </li>
  <li class='category'>
    <i class="fa fa-film fa-3x"></i>
    <br/>
    Movies
  </li>
  <li class='category'>
    <i class="fa fa-desktop fa-3x"></i>
    <br/>
    Shows
  </li>
  <li class='category'>
    <i class="fa fa-headphones fa-3x"></i>
    <br/>
    Music
  </li>
  <li class='category'>
    <i class="fa fa-gamepad fa-3x"></i>
    <br/>
    Games
  </li>
  <li class='category'>
    <i class="fa fa-cutlery fa-3x"></i>
    <br/>
    Food
  </li> -->